td, th {
  vertical-align: middle;
}
.custom {
  &__tranSport {
    > li {
      position: relative;
      &::after {
        position: absolute;
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 7.5px 0 7.5px 10px;
        border-color: transparent transparent transparent black;
        top:50px;
        right: -5px;
      }
      &:last-child {
        &::after {
          border-color:transparent ;
        }
      }
    }
    &__icon {
      width: 115px;
      height: 115px;
    }
  }
  &__carts {
    &__image {
      width: 80px;
      height: 80px;
    }
  }
  &__recommend {
    cursor: pointer; 
    overflow-x: scroll;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    &::-webkit-scrollbar {
      display: none;
    }
    img {
      user-select: none;
      -moz-user-select: none;
      -webkit-user-drag: none;
      -webkit-user-select: none;
      -ms-user-select: none;
    }
    &__authorImg {
      width: 45px;
      height: 45px;
    }
    &__productImg {
      width: 95px;
      height: 95px;
    }
    &__top{
      transform: translateX(95px);
    }
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  &::before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  /* Rounded sliders */
  &.round {
    border-radius: 34px;
  }

  &.round:before {
    border-radius: 50%;
  }
}


input:checked + .slider {
  background-color: #66AA00;
}

input:focus + .slider {
  box-shadow: 0 0 1px #66AA00;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


